# Ignore files and folder in the root dir
/*

# Personal
!/tools/fzf/
!/.human
!/.nanorc

# Allow the following exception for .config and .local
!/.config/blender/
!/.local/share/gnome-shell/extensions/gTile@vibou/