# Ignore all and track specific files

## Ignore all files and folders in the root directory
/*

## Exceptions

### Personal
# `home status ~/.human --ignored`
!/tools/fzf/
!/.human
!/.nanorc
!/.p10k.zsh

# Add back
.venv/
.human/.config.json
.vscode/

#### Git
!.gitconfig